<div class="content-main text-center text-white">
  <div class="leading">
    <span>
      Todo tu sistema de gestión, estés donde estés.
    </span> 
  </div>
  <% unless user_signed_in? %>
    <span class="text-sign-in">
      <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-lg button-red" %>
    </span>
  <% end %>
  
</div> 