<div class="form-documents">
  <%= f.date_field :application_date %></br>
</div>
<div class="form-documents">
  <%= f.text_area :description, size: "33x3", placeholder: "Description" %></br>
</div>
<div class="form-documents">
  <%= f.text_field :ubication, placeholder: "Ubication" %></br>
</div>



