// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-main{
  background: white;
  margin: 0;
}

.navbar-brand:hover{
  background: transparent;
}

.button-red{
  background-color: #D14836;
  padding: 1em; 
  margin: 40px auto;
}

.button-red:hover{
  background-color: #C53727; 
}

.content-main{
  background: url('https://ununsplash.imgix.net/photo-1414849424631-8b18529a81ca?q=75&fm=jpg&s=0e993004a2f3704e8f2ad5469315ccb7');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.footer{
  height: 80px;
  padding: 35px;
}

.grey{
  color: #95a5a6
}

.logo{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 100;
}



.text-sign-in a{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
}


.mr-btn-new{
  margin-top: 7px;
}

.text-white {
  color: white;
}

.text-white a:visited{
  color: white;
}

.leading {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2;
  color: white;
  padding: 350px 100px 0;
  text-shadow: 0 2px 3px rgba(0,0,0,.8);
}


.subnavbar{
  background: #f7f7f7;
  height: 48px;
  border-bottom: 1px solid rgba(52, 73, 94, 0.3);
  margin: 0;
}